/*
// font size
$font-size-large: 1.8rem;
// rem sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(15px + 2vmin);
  justify-content: space-between;
  min-height: 10vh;
  padding-left: 20px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
  text-decoration: none;
}

.button {
  background: #282c34;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  text-decoration: none;
}

.button--link {
  background: none;
  text-decoration: none;
}

.content-container {
  align-content: center;
  margin: 0 0 1.6rem 1.6rem;
  padding: 0 1.6rem;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.header__title {
  color: white;
  text-decoration: none;
}

.resumeYaml {
  background-color: #eee;
  width: auto;
  height: auto;
}

pre {
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 1000px;
  max-height: 1000px;
}